# --- macOS Trash ---
.DS_Store
.AppleDouble
._*
.Spotlight-V100
.Trashes

# --- Windows Trash ---
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

# --- Исходники (то, что не должно быть на сайте) ---
*.csv
*.xlsx
*.tmp
